.home {
  display: flex;
  background-color: var(--fondo-uno);
  width: 100%;
  font-family: var(--tipo-titulo);
}

.containerText {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 50%;
  gap: 10px;
}

.containerText h1 {
  color: #11c88b;
}

.containerText h4 {
  margin: 40px 0px;
  /* text-align: justify; */
}

.whatsapp {
  width: 30%;
  display: flex;
}

.containerText button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  background-color: #11c88b;
  border: none;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 5px 10px #11c88b;
  margin-bottom: 40px;
  cursor: pointer;
  gap: 10px;
}

.containerText button img {
  height: 20px;
}

.containerText button:hover {
  background-color: var(--hover);
}

.check {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 55px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #11c88b;
}

.container:hover {
  background-color: var(--hover);
}

.container img {
  width: 35px;
  height: 35px;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.figure {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  background-color: #00bd95;
  box-shadow: 0px 10px 20px #11c88b;
}

.figure img {
  position: absolute;
  filter: brightness(0.9);
  width: 400px;
  height: 500px;
  bottom: 0.5rem;
  border-radius: 100%;
}

@media screen and (max-width: 1080px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }

  .containerText {
    width: 100%;
  }

  .containerImg {
    width: 100%;
  }

  .figure {
    margin: 50px 0px 0px 0px;
    width: 230px;
    height: 230px;
  }

  .figure img {
    position: absolute;
    width: 230px;
    height: 260px;
    bottom: 0.5rem;
    border-radius: 100%;
  }

  .whatsapp {
    width: 45%;
  }

  .check {
    gap: 10px;
  }

  .container {
    width: 45px;
    height: 45px;
  }

  .container img {
    width: 30px;
    height: 30px;
  }

  .containerText h4 {
    font-size: 15px;
  }

  .containerText button {
    gap: 3px;
  }
}
