@font-face {
  font-family: "ArboriaBold";
  src: local("Arboria"), url("./fonts/Arboria-Bold.ttf") format("trueType");
}

@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"), url("./fonts/GothamBold.otf");
}

:root {
  --tipo-titulo: "ArboriaBold";
  --tipo-subtitulo: "Inter", sans-serif;
  --fondo-uno: #21272f;
  --fondo-dos: #171c23;
  --hover: #119c6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
  font-family: var(--tipo-subtitulo) !important;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(182, 179, 179);
}

body {
  background-image: url(./assets/jpg/fondo.jpg);
  width: 100%;
  height: 100vh;
  /* background-color: #2f3135; */
  /* background-image: url("../../../fondo.JPG"); */
  /* background-color: #05c59b; */
}

.container {
  box-shadow: 5px 5px 40px black;
  width: 80%;
  margin: 5% auto;
  color: white;
}

h1 {
  font-family: var(--tipo-titulo) !important;
}

@media screen and (max-width: 980px) {
  .container {
    width: 92%;
    margin: 2% auto;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }
}
